.academics {
    .section {
        padding: calcRem(27) calcRem(15);
    }

    .swiper-slide {
        padding-inline-start: calcRem(30);
        padding-inline-end: calcRem(20);
        padding-bottom: 2rem;

        @include mq('lg') {
            padding-inline-end: calcRem(60);
        }

        @include mq('xl') {
            padding-inline-end: calcRem(30);
        }

        @include mq('xxl') {
            padding-inline-end: 11%;
        }

        @media (min-width: 1750px) {
            @include mq('xxl') {
                padding-inline-end: calcRem(108);
            }
        }
    }

    a {
        display: block;
    }

    .desc {
        font-size: calcRem(20);
        color: $font-text;
        margin: 0;
    }
}