.academic-calender {
    height: 100%;

    .section {
        height: 100%;
        padding: 18px 21px 0;
    }

    .title {
        font-size: calcRem(22);
        color: #383130;
        font-family: var(--font-m);
    }

    .desc {
        font-size: calcRem(18);
        line-height: 24px;
        font-family: var(--font-m);
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .link {
        color: #001351;
        font-size: calcRem(16);
        font-family: var(--font-b);
    }



    .date-time {
        color: $font-black-50;
        font-size: calcRem(18);
        font-family: var(--font-m);
        margin: 0;

        .day {
            font-size: calcRem(20);
            border-bottom: 1px solid;

            .date-title {
                font-size: calcRem(36);
                font-family: var(--font-m);
                line-height: 0;
                color: $font-text;
            }


        }

    }
    .swiper-slide {
        padding-bottom: 25px;
        img {
                width: calcRem(40);
        }
    }
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 5px;
    }
}