.academics {
    .section {
        padding: calcRem(27) calcRem(15);
    }

    .swiper-slide {
        padding-inline-start: calcRem(20);
        padding-inline-end: calcRem(20);
        padding-bottom: 2rem;

    }

    a {
        display: block;
        all: unset;
        cursor: pointer;
    }

    .desc {
        font-size: calcRem(20);
        color: $font-text;
        margin: 0;
    }
}