.annoncments {
    @include mq('xl') {
        margin-top: calcRem(40);
    }

    a {
        all: unset;
        cursor: pointer;
    }

    .section {
        padding: 15px 0 0;
        padding-inline-start: 17px;
        padding-inline-end: 25px;
    }

    .title {
        font-size: calcRem(22);
        color: #383130;
        font-family: $font-m;
    }

    .desc {
        font-size: calcRem(16);
        font-family: $font-b;
        line-height: calcRem(20);
        margin-bottom: 12px;
    }

    .image {
        position: relative;

        img {
            height: calcRem(150);
            object-fit: cover;
            width: 100%;

            @include mq('xxl') {
                height: calcRem(166);

            }
        }

        .overlay-date {
            position: absolute;
            background-color: $font-primary;
            bottom: 0;
            #{$left}: 0;
            padding: 8px 35px;
            color: $dark-blue;
            font-family: $font-m;
            font-size: calcRem(18);
        }
    }

    .swiper-annoncments {
        padding-bottom: 30px;

    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 5px;
    }
}