#side-bar {
    position: absolute;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.60);
    top: 0;
    #{$right}: 0;
    padding: 48px 10px 70px 10px;
    display: none;
    height: 100%;
    @include ScrollBar;

    @include mq('lg') {
        display: block;
    }

    @include mq('lg') {
        width: 6.7%;
    }

    .contact {
        background-color: $font-primary;
        border-radius: 50%;
        padding: 10px;
        position: fixed;
        margin-bottom: 50px;
        width: 50px;
        z-index: 12;

        @include mq('lg') {
            #{$right}: 1%;
            top: 75%;
        }

        @include mq('xl') {
            #{$right}: 1.2%;
        }
        @include mq('xxl') {
            width: 80px;
        }
    }

}