$homeHeight: 740px;
$homeHeight-xxl: 940px;

#home {
     overflow-x: hidden;
     height: 600px;
     position: relative;

     @include mq('sm') {
          height: 700px;
     }

     @include mq('md') {
          height: 550px;
     }

     @include mq('lg') {
          min-height: 740px;
     }

     @include mq('xxl') {
          height: $homeHeight-xxl;
          min-height: 100vh;
     }

     .mySwiperHome,
     .mySwiperHome3 {
          position: relative;
          height: 100%;


          .swiper-slide {
               background-position: top $left;
               height: 100%;
               background-size: cover;
               padding-bottom: calcRem(200);

               @include mq('lg') {
                    padding-bottom: calcRem(363);
               }

               @at-root {
                    [dir="rtl"] & {
                         transform: scaleX(-1);

                         >.container {
                              transform: scaleX(-1);
                         }
                    }
               }
          }

          .content-swiper {
               z-index: 22;
               color: $font-white;
               // padding-inline-start: 30px;
               padding-top: calcRem(140);

               @include mq('sm') {
                    padding-top: calcRem(180);
                    width: 90%;
               }

               @include mq('lg') {
                    width: 65%;
               }

               @include mq('xxl') {
                    padding-top: calcRem(250);
                    padding-inline-start: 0;
                    width: 53.9%;
               }

               .titel-swiper {
                    font-size: calcRem(32);
                    font-weight: 600;
                    line-height: 70px;

                    @include mq('xxl') {
                         line-height: 37px;
                         font-size: calcRem(40);
                    }
               }

               .desc-swiper {
                    font-size: 23.7px;
                    line-height: 35px;
               }

               .form-select {
                    padding-#{$left}: 50px;
                    font-size: 16px;
                    line-height: 42px;

                    &:first-child {
                         margin-inline-end: 30px;

                         @include mq('xxl') {
                              margin-inline-end: 15px;
                         }
                    }
               }

               .btn-submit {
                    margin-#{$left}: 18px;
                    @include btnSecondary;
                    font-size: calcRem(16);

                    i {
                         padding-inline-end: 10px;
                         font-size: calcRem(14);
                    }


                    @include mq('xxl') {
                         padding: 18px 20px;
                    }
               }

               &.two {
                    .btn-Practical {
                         button {
                              border: $border-light;
                              color: $font-white;
                              border-radius: $border-radius-50;
                              padding: 10px 25px;

                              &:hover {
                                   color: $font-text;
                              }
                         }
                    }

                    .desc-swiper {
                         font-size: calcRem(24);
                         line-height: 42px;
                         margin-bottom: 10px;

                         @include mq('xxl') {
                              font-size: calcRem(28);
                         }
                    }

                    .desc {
                         margin-top: 10px;

                         i {
                              color: $font-primary;
                              padding-#{$right}: 14px;
                              font-size: 18px;
                         }
                    }

                    .btn-view {
                         border-radius: $border-radius-50;
                         padding: 15px 30px;
                         color: $font-white;
                         border-color: $font-primary;
                         font-weight: 500;
                         font-size: 15px;

                         &:hover {
                              color: $font-text;
                              background-color: $font-primary;
                              border-color: $font-primary;
                         }
                    }



               }

               .btn-join,
               .btn-numbers {
                    @include btnSecondary;
                    border-radius: $border-radius-50;
                    padding: 15px 30px;

                    i {
                         padding-#{$left}: 15px;
                         color: $font-primary;
                    }
               }

               &.three {
                    width: 80%;

                    .number {
                         font-size: 35px;
                         color: $font-primary;
                         line-height: 24px;
                    }

                    .content {
                         span {
                              font-size: 22px;
                              font-weight: 400;
                         }

                         p {
                              font-size: 24px;
                              font-weight: 600;
                              margin: 0;
                         }
                    }
               }
          }

          .swiper-button {

               &.swiper-button-next,
               &.swiper-button-prev {
                    top: inherit;
                    margin: 0;
                    #{$left}: inherit;

                    &::after {
                         display: none;
                    }
               }

               width: 45px;
               height: 45px;
               background-color: $font-white;
               position: absolute;
               z-index: 3;
               border-radius: 100%;
               color: $font-text;
               @include flexCentar;



               &.next {
                    bottom: 17%;
                    #{$right}: 10%;
               }

               &.swiper-button-disabled {
                    color: #999;
                    cursor: default;
               }

               &.prev {
                    bottom: 17%;
                    #{$right}: 15%;
               }

          }

     }



}




@media (max-width: 1139px) {
     #home {

          .mySwiperHome {
               .content-swiper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &.three {
                         width: 100%;
                    }
               }

               .swiper-button {

                    &.next {
                         bottom: 13%;
                         #{$right}: 12%;
                    }

                    &.prev {
                         bottom: 13%;
                         #{$right}: 18%;
                    }

               }
          }


     }

}

@media (max-width: 991px) {
     #home {

          .mySwiperHome {
               .content-swiper {
                    .titel-swiper {
                         font-size: 26px;
                         line-height: 45px;
                    }

                    &.two .desc-swiper {
                         font-size: 27px;
                    }

                    &.three {
                         .titel-swiper {
                              margin-bottom: 20px !important;
                         }

                         .number {
                              font-size: 20px;
                         }

                         .content {
                              span {
                                   font-size: 20px;
                                   font-weight: 400;
                              }

                              p {
                                   font-size: 16px;
                                   line-height: 1.6;
                              }
                         }
                    }
               }

               .swiper-button {
                    width: 30px;
                    height: 30px;
                    font-size: 14px;

                    &.next {
                         bottom: 10%;
                         #{$right}: 10%;
                    }

                    &.prev {
                         bottom: 10%;
                         #{$right}: 18%;
                    }

               }
          }
     }

}

@media (max-width: 768px) {
     #home {
          .desc {
               i {
                    font-size: 16px !important;
               }
          }

          .btn-join,
          .btn-view {
               padding: 10px !important;
               font-size: 12px !important;
          }

          .titel-swiper {
               width: 100% !important;
          }


          .mySwiperHome {
               .content-swiper {
                    margin-inline: auto;

                    &.two .desc-swiper {
                         font-size: 16px;
                         line-height: 36px;
                    }

                    .desc-swiper {
                         font-size: 22px;
                         margin-bottom: 0;
                    }

                    .form {
                         flex-direction: column;

                         .form-select {
                              display: block;
                              margin-block: 5px;

                         }
                    }

                    .btn-submit {
                         margin-#{$left}: 0;
                         margin-top: 10px;
                    }
               }

               .swiper-button {

                    &.next {
                         bottom: 22%;
                         #{$right}: 10%;
                    }

                    &.prev {
                         bottom: 22%;
                         #{$right}: 20%;
                    }

               }

          }
     }


}

.rectangle-area {
     position: absolute;
     #{$left}: 0;
     bottom: 0;
     z-index: 3;
     padding-inline-start: 2%;
     padding-inline-end: calcRem(20);
     padding-bottom: calcRem(20);
     padding-top: calcRem(10);
     width: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     padding-#{$left}: calcRem(20);

     // display: none;
     @include mq('sm') {
          padding-top: calcRem(20);
     }

     @include mq('md') {
          width: 50%;
          display: block;
          background: url('../../assets/img/Rectangle.png') no-repeat center/100% 100%;
     }

     @include mq('lg') {
          padding-bottom: calcRem(120);
          padding-inline-end: calcRem(100);
          padding-top: calcRem(20);
          padding-inline-start: 7%;
     }

     @include mq('xl') {
          // height: calcRem(363);
          padding-bottom: calcRem(140);
          padding-inline-end: calcRem(140);
          padding-top: calcRem(30);
          padding-inline-start: 7%;
     }

     @include mq('xxl') {
          width: 47.8%;
     }

     .apply {
          color: $font-primary;
          font-size: calcRem(16);
          font-family: $font-m;
          text-transform: capitalize;

          @include mq('sm') {
               font-size: calcRem(22);
          }

          @include mq('xxl') {
               font-size: calcRem(32);
          }
     }

     .title {
          font-size: calcRem(16);
          color: $font-white;
          text-transform: capitalize;

          @include mq('sm') {
               font-size: calcRem(22);
          }

          @include mq('xxl') {
               font-size: calcRem(32);
          }
     }

     .more {
          color: $font-secondary;
          font-size: calcRem(14);
          font-family: $font-sb;
          text-transform: capitalize;

          @include mq('sm') {
               font-size: calcRem(16);
          }

          @include mq('xl') {
               font-size: calcRem(24);
          }
     }
}