.news {
    .section {
        padding: 12px;
        border-top: none;
        height: calc(100% - 3.35rem);
    }
}

.newsCarousel {
    padding-bottom: calcRem(46);

    .swiper-slide {

        img {
            max-height: calcRem(314);
            width: 100%;
            object-fit: cover;

            @include mq('xxl') {
                max-height: calcRem(300);
            }
        }

        .date {
            color: $dark-blue;
            font-family: var(--font-b);
            font-size: calcRem(14);
            margin-bottom: 15px;
            padding: 0 15px;

        }

        .desc {
            font-size: calcRem(18);
            font-family: var(--font-b);
            line-height: 24px;
            padding: 0 15px;

        }

        .more-details {
            font-size: calcRem(16);
            color: $dark-blue;
            font-family: var(--font-b);
            padding: 0 15px;

        }
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 6px;
    }
}