$direction: ltr !default;

/**
 * Flips any values
 */
@function flip($arabic, $english) {

  @return if($direction==ltr, #{$arabic}, #{$english});

}

/**
 * Flips left for right, right for left
 */
$left: flip(left, right);
$right: flip(right, left);