.header {
     position: relative;
     z-index: 3;



     .navbar {
          background-color: transparent;
          z-index: 4;
          width: 100%;

          .navbar-toggler {
               transition: 1s ease;
               font-size: calcRem(28);

               &:focus {
                    box-shadow: none;
               }

               &[aria-expanded="true"] {
                    >i {
                         &::before {
                              content: "\f00d";
                         }
                    }
               }


          }

          .navbar-collapse {
               justify-content: end;
               position: fixed;
               left: 0;
               top: 0;
               bottom: 0;
               width: 70%;
               right: 0;
               height: 100%;

               @include mq('lg') {
                    position: static;
                    width: auto;
                    height: auto;
               }




               .navbar-nav {
                    max-height: 100vh;
                    overflow: auto;
                    background-color: $font-white;
                    padding: 20px 10px;
                    text-align: center;
                    width: 100%;
                    left: -100%;
                    position: absolute;
                    height: 100%;
                    transition: 0.5s ease;
                    box-shadow: 1px 1px 15px #ccc;
                    text-align: $left;

                    @include mq('lg') {
                         position: static;
                         box-shadow: none;
                         padding: 0;
                         background-color: transparent;
                         justify-content: flex-end;
                         overflow: visible;
                    }

                    >.nav-item,
                    >.menu-item {
                         color: $font-text;
                         display: flex;
                         align-items: center;
                         justify-content: space-between;
                         display: block;
                         &::after {
                              content: "\f0d7";
                              display: inline-block;
                              color: $font-white;
                              font-family: "Font Awesome 6 Free";
                              font-weight: 900;
                              margin-left: 5px;
                         }
                         @include mq('lg') {
                              display: inherit;
                         }



                         >.nav-link,
                         >a {
                              color: $font-black-50;
                              font-size: calcRem(16);
                              line-height: calcRem(30);
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                              font-weight: 500;
                              text-decoration: none;
                              padding: 5px 10px;

                              @include mq('lg') {
                                   color: $font-white;
                                   font-size: calcRem(15);
                                   font-weight: normal;
                              }

                              @include mq('xxl') {
                                   font-size: calcRem(17);
                              }
                         }

                         .sub-menu {
                              border: none;
                              display: none;
                              padding: 0;
                              position: absolute;
                              top: 100%;
                              #{$left}: 0;
                              padding: 10px 5px;
                              border-radius: 10px;
                              min-width: 210px;
                              list-style: none;

                              @include mq('lg') {
                                   border: 1px solid rgba($color: #707070, $alpha: 0.1);
                                   background-color: #fff;
                              }

                              .menu-item {
                                   list-style: none;
                                   position: relative;

                                   a {
                                        color: $font-black-50;
                                        text-decoration: none;

                                        &:hover {
                                             color: $font-primary;
                                        }
                                   }

                                   &.menu-item-has-children {
                                        position: relative;
                                        background-color: red;

                                        >a {
                                             text-decoration: none;

                                             &::after {
                                                  content: "\f0d7";
                                                  display: inline-block;
                                                  color: $font-white;
                                                  font-family: "Font Awesome 6 Free";
                                                  font-weight: 900;
                                                  margin-left: 5px;
                                             }
                                        }
                                   }
                              }
                         }

                    }
               }
          }

     }


     .home-side-form {
          @include mq('lg') {
               .search {
                    position: absolute;
               }

               .search {
                    right: 20px;
               }
          }

          @media (min-width: 1750px) {
               .headerbtn {
                    position: relative;
                    right: -90px;
               }
          }
     }

     .headerbtn {
          padding: 0px 20px;
          background-color: #fd0;
          color: #000;
          border-radius: 50px;
          font-size: 16px;
          line-height: 40px;
          font-weight: 500;
          flex-shrink: 0;
     }

     .search {
          width: 45px;
          height: 45px;
          border: 1px solid #fd0;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          flex-shrink: 0;

     }


     &.inner {
          background: url('../img/inner-header.jpg');
          background-size: cover;
          background-repeat: no-repeat;

          >.navbar {
               position: relative;

               &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    bottom: -8px;
                    background-color: rgba(112, 112, 112, 0.5);
                    height: 1px;
               }


          }

          .breadcrumb {
               position: relative;

               &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    top: -17px;
                    background-color: rgba(255, 221, 0, 0.23);
                    height: 1px;

                    @include mq('xxl') {
                         top: -20px;
                    }
               }
          }
     }
}