.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

main {
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
}

.title-underline {
    font-size: calcRem(36);
    font-weight: 500;
    margin-bottom: calcRem(60);

    span {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            bottom: -10px;
            #{$left}: 0;
            width: 30%;
            background-color: $font-secondary;
            height: 3px;
        }
    }
}

.content-banner {
    --bs-aspect-ratio: 24.857143%;
}