.btn {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 0.575rem;
    --bs-btn-font-size: 1rem;
}

.btn-primary {
    --bs-btn-bg: #FFDD00;
    --bs-btn-border-color: #FFDD00;
    --bs-btn-color: #000;
    --bs-btn-hover-bg: #e7af13;
    --bs-btn-hover-border-color: #e7af13;
    --bs-btn-hover-color: #fff;

}
.btn-danger {
    // --bs-btn-bg: #ED1A3B;
}