.contact {
    position: fixed;
    bottom: 200px;
    #{$right}: 0;
    z-index: 33333333;
    text-decoration: none;

    @include mq('md') {
        bottom: 250px;
    }

    >span {
        background-color: $font-primary;
        width: fit-content;
        padding: 10px 15px;
        font-size: 20px;
        font-weight: 400;
        border-radius: 10px 10px 0 0;
        transform: rotate(-90deg) translateX(35%);
        transform-origin: bottom $right;
        text-align: center;
        color: black;
        display: flex;

        @include mq('xl') {
            padding: 10px 25px;
        }
    }

    p {
        margin-bottom: 0;
        display: none;

        @include mq('xl') {
            display: flex;
        }
    }

    i {
        transform: rotate(90deg);

        @include mq('xl') {
            margin-#{$right}: 25px;
        }
    }

    &:hover {
        color: $font-text;
    }
}