.content-title {
    font-size: calcRem(36);
    font-weight: 500;
    margin-bottom: calcRem(60);
    position: relative;

    &::after {
        position: absolute;
        content: "";
        bottom: -10px;
        #{$left}: 0;
        width: calcRem(60);
        background-color: $font-secondary;
        height: 3px;
    }

    .title {
        font-size: calcRem(42);
        font-family: var(--font-m);
        margin: 0;
        line-height: calcRem(40);
    }

    .subtitle {
        color: #AAAAAA;
        font-size: calcRem(18);
        font-family: var(--font-m);
        line-height: calcRem(36);
    }

    &.no-line {
        &::after {
            display: none;
        }
    }
}

.title-with-bottom-border {
    color: #001351;
    font-size: calcRem(24);
    font-family: var(--font-m);
    text-align: center;
    position: relative;
    margin-bottom: 3.5rem;
    &::after {
        position: absolute;
        content: "";
        width: calcRem(94);
        height: 6px;
        border-radius: 20px;
        background-color: #001351;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
    }
}