:root {
    font-size: 16px;
    background: url("../../assets/img/bg.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    @include mq('xxl') {
        font-size: 20px;
    }
}



body {
    font-family: $font-r;
    color: $font-text;
    direction: $direction;
    text-align: $left;
    @extend %scroll;
    // opacity: 0.7;
}

.fa-arrow-right-long {
    @at-root {
        [dir="rtl"] & {
            transform: rotate(180deg);
        }
    }
}

.fa-arrow-left-long {
    @at-root {
        [dir="rtl"] & {
            transform: rotate(180deg);
        }
    }
}

p {
    font-size: calcRem(20);
    line-height: calcRem(42);
}