#side-bar {
    position: absolute;
    z-index: 9;
    height: $homeHeight - 40px;
    background-color: $bg-sideBar;
    top: 0;
    #{$right}: 0;
    padding: 48px 10px 48px 20px;

    @at-root {
        [dir="rtl"] & {
            padding: 48px 20px 48px 10px;

        }
    }

    overflow: hidden;
    display: none;

    @include mq('lg') {
        display: block;
    }

    @include mq('lg') {
        width: 300px;
        height: $homeHeight - 20px;
    }

    @include mq('xxl') {
        height: $homeHeight-xxl - 80px;
        width: 22%;
    }

    .academic-side {
        width: 100%;

        @include mq('xl') {
            padding-#{$right}: 5px;
            width: 75%;
            border-#{$right}: $border-light;
        }

        @include mq('xxl') {
            padding-#{$right}: 5px;
        }

        .btn-acad {
            @include btnYallow;

            @include mq('xxl') {
                display: block;
                margin-left: 13px;
                margin-top: 4px;
            }
        }

        .academic-list {
            margin-top: 40px;
            padding-#{$left}: 0;

            @include mq('xxl') {
                margin-top: 60px;
            }

            .item {
                position: relative;
                cursor: pointer;
                margin: 10px 0;

                @include mq('xxl') {
                    margin: 20px 0;
                }

                a {
                    color: inherit;
                    text-decoration: none;
                    display: flex;

                    &:hover {
                        .box {
                            color: $font-primary;
                        }
                    }
                }

                .box {
                    font-size: calcRem(16);
                    line-height: 30px;
                    font-weight: 400;
                    color: $font-white;
                    position: relative;

                    @include mq('xxl') {
                        font-weight: 500;
                        font-size: calcRem(15);
                        margin-left: 4px;
                        line-height: 25.8px;
                    }

                    >span {
                        position: relative;
                        width: 100%;

                        &::before {
                            content: "";
                            width: 39px;
                            height: 1px;
                            background-color: rgba(233, 230, 230, 0.1);
                            bottom: 5px;
                            margin-#{$right}: 10px;
                            #{$left}: 0;
                            display: inline-block;
                            position: relative;
                        }
                    }

                    i {
                        padding: 0;
                        color: $font-primary;
                        font-size: calcRem(14);


                        @at-root {
                            [dir="rtl"] & {
                                transform: rotate(180deg);
                            }
                        }

                    }
                }



                img {
                    padding-inline-end: 10px;
                }

                &::after {
                    position: absolute;
                    content: url('../../assets/img/section/icon/Component 22 – 1.svg');
                    top: -43px;
                    opacity: 0.3;
                    #{$left}: -5px;
                }
            }
        }
    }

    .icons-side {
        position: relative;
        padding-#{$left}: 10px;
        justify-content: center;
        display: none;

        @include mq('xl') {
            padding-#{$left}: 25px;
            display: flex;
            width: 25%;
        }

        &::after {
            content: "Admissions";
            position: absolute;
            font-size: 80px;
            width: 20px;
            color: rgba(233, 230, 230, 0.05);
            transform: rotate(90deg) translate(200%, -5%);
            line-height: 40px;

            @include mq('xxl') {
                line-height: 60px;
                font-size: 130px;
            }

            @at-root {
                [dir="rtl"] & {
                    transform: rotate(270deg) translate(-380%, -5%);
                }
            }
        }

        .search {
            width: 45px;
            height: 45px;
            border: 1px solid $font-primary;
            @include flexCentar;
            cursor: pointer;

            @include mq('xxl') {
                margin-top: 2px;
                font-size: 16px;
            }
        }


    }
}