$homeHeight: 740px;
$homeHeight-xxl: 840px;

#home {
     overflow-x: hidden;
     height: $homeHeight;

     @include mq('xxl') {
          height: $homeHeight-xxl;
     }

     .mySwiperHome,
     .mySwiperHome3 {
          position: relative;
          height: 100%;

          .swiper-slide {
               background-position: top $left;
               height: 100%;
          }

          .content-swiper {
               z-index: 22;
               display: flex;
               flex-direction: column;
               justify-content: center;
               width: 65%;
               color: $font-white;
               padding-inline-start: 30px;

               @include mq('xxl') {
                    padding-inline-start: 0;
                    width: 53.9%;
                    padding-top: 20px;
               }

               .titel-swiper {
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 70px;

                    @include mq('xxl') {
                         line-height: 37px;
                    }
               }

               .desc-swiper {
                    font-size: 23.7px;
                    line-height: 35px;
               }

               .form-select {
                    padding-#{$left}: 50px;
                    font-size: 16px;
                    line-height: 42px;

                    &:first-child {
                         margin-inline-end: 30px;

                         @include mq('xxl') {
                              margin-inline-end: 15px;
                         }
                    }
               }

               .btn-submit {
                    margin-#{$left}: 18px;
                    @include btnSecondary;
                    font-size: calcRem(16);

                    i {
                         padding-inline-end: 10px;
                         font-size: calcRem(14);
                    }


                    @include mq('xxl') {
                         padding: 18px 20px;
                    }
               }

               &.two {
                    .btn-Practical {
                         button {
                              border: $border-light;
                              color: $font-white;
                              border-radius: $border-radius-50;
                              padding: 10px 25px;

                              &:hover {
                                   color: $font-text;
                              }
                         }
                    }

                    .desc-swiper {
                         font-size: 32px;
                         line-height: 42px;
                         margin-bottom: 10px;
                    }

                    .desc {
                         margin-top: 10px;

                         i {
                              color: $font-primary;
                              padding-#{$right}: 14px;
                              font-size: 18px;
                         }
                    }

                    .btn-view {
                         border-radius: $border-radius-50;
                         padding: 15px 30px;
                         color: $font-white;
                         border-color: $font-primary;
                         font-weight: 500;
                         font-size: 15px;

                         &:hover {
                              color: $font-text;
                              background-color: $font-primary;
                              border-color: $font-primary;
                         }
                    }



               }

               .btn-join,
               .btn-numbers {
                    @include btnSecondary;
                    border-radius: $border-radius-50;
                    padding: 15px 30px;

                    i {
                         padding-#{$left}: 15px;
                         color: $font-primary;
                    }
               }

               &.three {
                    width: 80%;

                    .number {
                         font-size: 35px;
                         color: $font-primary;
                         line-height: 24px;
                    }

                    .content {
                         span {
                              font-size: 22px;
                              font-weight: 400;
                         }

                         p {
                              font-size: 24px;
                              font-weight: 600;
                         }
                    }
               }
          }

          .swiper-button {

               &.swiper-button-next,
               &.swiper-button-prev {
                    top: inherit;
                    margin: 0;
                    #{$left}: inherit;

                    &::after {
                         display: none;
                    }
               }

               width: 45px;
               height: 45px;
               background-color: $font-white;
               position: absolute;
               z-index: 3;
               border-radius: 100%;
               color: $font-text;
               @include flexCentar;



               &.next {
                    bottom: 13%;
                    #{$right}: 35%;

                    @include mq('xxl') {
                         bottom: 17.7%;
                         #{$right}: 28.7%;
                    }
               }

               &.swiper-button-disabled {
                    color: #999;
                    cursor: default;
               }

               &.prev {
                    bottom: 13%;
                    #{$right}: 40%;

                    @include mq('xxl') {
                         bottom: 17.7%;
                         #{$right}: 32.2%;
                    }
               }



          }

     }

     #side-bar {
          position: absolute;
          z-index: 333;
          width: 354px;
          height: $homeHeight - 20px;
          background-color: $bg-sideBar;
          top: 0;
          #{$right}: 0;
          padding: 48px 10px 48px 20px;
          overflow: hidden;

          @include mq('xxl') {
               height: $homeHeight-xxl - 80px;
               width: 22.3%;
          }

          .academic-side {
               border-#{$right}: $border-light;
               padding-#{$right}: 10px;
               width: 75%;

               @include mq('xxl') {
                    padding-#{$right}: 5px;

               }

               .btn-acad {
                    @include btnYallow;

                    @include mq('xxl') {
                         display: block;
                         margin-left: 13px;
                         margin-top: 4px;
                    }
               }

               .academic-list {
                    margin-top: 40px;
                    padding-#{$left}: 0;

                    @include mq('xxl') {
                         margin-top: 60px;
                    }

                    .item {
                         position: relative;
                         cursor: pointer;
                         margin: 20px 0;

                         a {
                              color: inherit;
                              text-decoration: none;
                              display: flex;

                              &:hover {
                                   .box {
                                        color: $font-primary;
                                   }
                              }
                         }

                         @include mq('xxl') {
                              padding-left: calcRem(15);
                              margin: 22px 0;
                         }

                         .box {
                              font-size: calcRem(15);
                              line-height: 30px;
                              font-weight: 400;
                              color: $font-white;
                              position: relative;

                              @include mq('xxl') {
                                   font-weight: 500;
                                   font-size: calcRem(16);
                                   margin-left: 4px;
                                   line-height: 25.8px;
                              }

                              >span {
                                   position: relative;
                                   width: 100%;

                                   &::before {
                                        content: "";
                                        width: 39px;
                                        height: 1px;
                                        background-color: rgba(233, 230, 230, 0.1);
                                        bottom: 5px;
                                        margin-#{$right}: 10px;
                                        #{$left}: 0;
                                        display: inline-block;
                                        position: relative;
                                   }
                              }

                              i {
                                   padding: 0;
                                   color: $font-primary;
                                   font-size: calcRem(14);


                                   @at-root {
                                        [dir="rtl"] & {
                                             transform: rotate(180deg);
                                        }
                                   }

                              }
                         }



                         img {
                              padding-inline-end: 10px;
                         }

                         &::after {
                              position: absolute;
                              content: url('../../assets/img/section/icon/Component 22 – 1.svg');
                              top: -43px;
                              opacity: 0.3;
                              #{$left}: -5px;
                         }
                    }
               }
          }
     }

     .icons-side {
          position: relative;
          padding-#{$left}: 10px;
          width: 25%;

          @include mq('xxl') {
               padding-#{$left}: 25px;
          }

          &::after {
               content: "Admissions";
               position: absolute;
               font-size: 80px;
               width: 20px;
               color: rgba(233, 230, 230, 0.05);
               transform: rotate(90deg) translate(200%, -5%);
               line-height: 40px;

               @include mq('xxl') {
                    line-height: 60px;
                    font-size: 130px;
               }

               @at-root {
                    [dir="rtl"] & {
                         transform: rotate(270deg) translate(-380%, -5%);
                    }
               }
          }

          .search {
               width: 45px;
               height: 45px;
               border: 1px solid $font-primary;
               @include flexCentar;
               cursor: pointer;

               @include mq('xxl') {
                    margin-top: 2px;
                    font-size: 16px;
               }
          }


     }


}

.social-media {
     padding-block-end: 85px;
     position: fixed;
     bottom: 23%;
     #{$right}: 10px;
     z-index: 999;
     display: none;

     @include mq('lg') {
          display: block;
     }

     &>div {
          width: 45px;
          height: 45px;
          @include flexCentar;
          margin-bottom: 12px;
          cursor: pointer;

          i {
               font-size: 20px;
          }
     }

     .youtube {
          color: #FF0000;
     }

     .twitter {
          color: #0090FF;
     }

     .facebook {
          color: #4458B6;
     }
}





@media (max-width: 1139px) {
     #home {
          height: 720px;

          .mySwiperHome {
               .content-swiper {
                    width: 80%;

                    &.three {
                         width: 100%;
                    }
               }

               .swiper-button {

                    &.next {
                         bottom: 13%;
                         #{$right}: 12%;
                    }

                    &.prev {
                         bottom: 13%;
                         #{$right}: 18%;
                    }

               }
          }

          #side-bar {
               display: none;
          }
     }

     #home .container {
          max-width: 920px;
     }
}

@media (max-width: 991px) {
     #home {
          height: 600px;

          .mySwiperHome {
               .content-swiper {
                    width: 100%;

                    .titel-swiper {
                         font-size: 35px;
                         line-height: 45px;
                    }

                    &.two .desc-swiper {
                         font-size: 27px;
                    }

                    &.three {
                         .titel-swiper {
                              margin-bottom: 20px !important;
                         }

                         .number {
                              font-size: 30px;
                         }

                         .content {
                              span {
                                   font-size: 20px;
                                   font-weight: 400;
                              }

                              p {
                                   font-size: 19px;

                              }
                         }
                    }
               }

               .swiper-button {
                    width: 30px;
                    height: 30px;
                    font-size: 14px;

                    &.next {
                         bottom: 10%;
                         #{$right}: 10%;
                    }

                    &.prev {
                         bottom: 10%;
                         #{$right}: 18%;
                    }

               }
          }

          #side-bar {
               display: none;
          }
     }

     #home .container {
          max-width: 840px;
     }

}

@media (max-width: 768px) {
     #home {
          .desc {
               i {
                    font-size: 16px !important;
               }
          }

          .btn-join,
          .btn-view {
               padding: 10px !important;
               font-size: 12px !important;
          }

          .titel-swiper {
               width: 100% !important;
          }

          .slider-wapper-3-large {
               display: none !important;
          }

          .slide-wapper-3-small {
               display: flex !important;

               .number {
                    line-height: 35px !important;
               }

               .content {
                    .p {
                         font-size: 15px;
                    }
               }
          }

          .mySwiperHome {
               .content-swiper {
                    width: 95%;
                    margin-inline: auto;

                    &.two .desc-swiper {
                         font-size: 24px;
                         line-height: 36px;
                    }

                    .desc-swiper {
                         font-size: 22px;
                         margin-bottom: 0;
                    }

                    .form {
                         flex-direction: column;

                         .form-select {
                              display: block;
                              margin-block: 5px;

                         }
                    }

                    .btn-submit {
                         margin-#{$left}: 0;
                         margin-top: 10px;
                    }
               }

               .swiper-button {

                    &.next {
                         bottom: 5%;
                         #{$right}: 19%;
                    }

                    &.prev {
                         bottom: 5%;
                         #{$right}: 30%;
                    }

               }

          }
     }

     #home .container {
          max-width: 720px;
     }
}

// @media (max-width: 670px) {
//      #home {
//           .mySwiperHome {
//                .content-swiper {
//                     width: 95%;
//                     margin-inline: auto;

//                     .titel-swiper {
//                          font-size: 22px;
//                          line-height: 30px;
//                          width: 40%;
//                     }

//                     &.two .titel-swiper {
//                          font-size: 22px;
//                          line-height: 30px;
//                          width: 100%;
//                     }

//                     &.two .desc-swiper {
//                          font-size: 20px;
//                          line-height: 36px;
//                     }

//                     .desc {
//                          font-size: 15px;
//                          margin-block: 10px 20px !important;
//                     }

//                     .desc-swiper {
//                          font-size: 18px;
//                          margin-bottom: 0;
//                     }
//                }



//           }
//      }
// }

@media (max-width: 768px) {}

@media (min-width: 1700px) {
     .home {
          .container {
               max-width: 1670px !important;
          }

     }
}