$sliderHeight_xl: 500px;
$sliderHeight_xxl: 550px;

#mediu-center {
     background-color: $bg-mediu-center;
     overflow-x: hidden;
     @include ScrollBar;

     @include mq('xxl') {
          padding-bottom: 50px !important;
          padding-top: 40px !important;
     }

     .title {
          @include waterMark;
          margin-bottom: 35px;
          font-size: 40px;

          @include mq('sm') {
               font-size: 50px;
          }

          @include mq('lg') {
               font-size: 70px;
          }
          @include mq('xxl') {
               font-size: 90px;
          }
          &::before {
               @include wateMarkBefore;
               content: ""attr(data-title)"";
               font-size: 1.4em;
               display: none;

               @include mq('sm') {
                    display: block;
               }

               @include mq('lg') {
                    font-size: 1.6em;
               }

               @include mq('xl') {
                    font-size: 2em;
               }

          }
     }


     .image {
          position: relative;

          .image-content {
               width: 40%;
               background-color: white;
               position: absolute;
               bottom: 5%;
               #{$left}: 5%;
               padding: 5% 0 1% 3%;

               @at-root {
                    [dir="rtl"] & {
                         padding: 5% 3% 1% 0%;
                    }
               }
          }

          >img {
               @include mq('lg') {
                    height: $sliderHeight_xl;
                    width: 100%;
                    object-fit: cover;
               }

               @include mq('xxl') {
                    height: $sliderHeight_xxl;
               }
          }

          span {
               display: block;
          }

          .date {
               font-size: 32px;
               font-weight: 500;
               line-height: 22px;
          }

          .day {
               position: relative;
               color: $font-black-light;
               width: fit-content;
               font-size: 20px;
               font-weight: 400;
               margin-bottom: 7px;

               &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: $font-black-light;
                    bottom: -1px;
                    #{$left}: 0;
               }
          }

          .year {
               font-size: 18px;
               font-weight: 400;
          }

          i {
               position: absolute;
               color: white;
               #{$right}: 12%;
               bottom: 5%;
               font-size: 20px;
          }
     }

     .image-tab1-4 {
          background-image: url("../../assets/img/mediu center/7.jpg");
          background-size: cover;
          background-position: center center;
          height: $sliderHeight_xxl;
          display: flex;
          align-items: flex-end;
          justify-content: space-around;
          padding-bottom: 3%;
          display: none;

          @include mq('xl') {
               height: $sliderHeight_xl;
               display: flex;
          }

          @include mq('xxl') {
               height: $sliderHeight_xxl;
          }
     }


     .image-tab2-4 {
          //-----------
          background-image: url("../../assets/img/mediu center/7.jpg");
          background-size: cover;
          background-position: center center;
          height: $sliderHeight_xl;
          align-items: flex-end;
          justify-content: space-around;
          padding-bottom: 3%;
          display: flex;

          @include mq('xl') {
               display: none;
          }

          .apply-box {
               margin: auto;
               width: fit-content;
          }
     }

     .apply-box {
          padding: 20px 40px 20px 20px;
          justify-content: center;
          width: 100%;
          background-color: white;
          position: relative;

          &::before {
               content: '';
               background-image: linear-gradient(to $right, #826A51 0%, #ED1A3B 100%);
               #{$left}: 0px;
               #{$right}: 0px;
               bottom: 0px;
               height: 3px;
               position: absolute;
          }

          .applyNow span {
               display: block;
               width: 40px;
               height: 2px;
               background-color: rgba($color: #000000, $alpha: 0.10);
               display: inline-block;
               margin-#{$right}: 20px;
               position: absolute;
               #{$left}: -20px;
          }


          .num span {
               @include spanCounterAndLine;

               &::after {
                    @at-root {
                         [dir="rtl"] & {
                              transform: rotate(40deg);
                         }
                    }
               }

               &::after {
                    @include line;
               }

          }


          .apply-content {
               position: relative;

               .apply-content-p {
                    margin-bottom: 30px;
               }

               &-p1 {
                    font-weight: 400;
                    font-size: 18px;
                    color: $font-black-50;
               }

               &-p2 {
                    font-weight: 400;
                    font-size: 23px;
               }
          }

     }

     .tab-small {
          overflow-x: auto;
          overflow-y: hidden;
          // padding: 0 30px;
          margin: 40px 0;

          &::-webkit-scrollbar {
               height: 4px;
          }

          .tab-list-small {
               li {
                    font-size: 19px;
                    color: $font-text;
                    padding: 0 20px;
                    width: fit-content;
                    color: $font-text;
                    transition: 0.4s;
                    height: 50px;
                    position: relative;

                    &.activ {
                         color: $font-secondary;
                         font-size: 21px;
                         font-weight: 500;

                         &::after {
                              @include lineTab;
                              content: "";
                         }
                    }

                    &::after {
                         @include lineTab;
                    }

                    &:hover {
                         color: $font-secondary;
                         font-size: 21px;
                         font-weight: 500;

                         &::after {
                              content: "";
                         }
                    }
               }
          }
     }

     .image-journals {
          position: relative;
          width: fit-content;
          margin: 0 auto;
          height: auto;

          img {
               object-fit: cover;
               width: 100%;
               height: 450px;

               @include mq('lg') {
                    height: $sliderHeight_xl;
               }

               @include mq('xxl') {
                    height: $sliderHeight_xxl;
               }
          }

          @include mq('xl') {
               width: 100%;
          }

          .image-journals-content {
               background-color: white;
               box-shadow: -5px 0px 18px -6px rgba(0, 0, 0, 0.75);
               -webkit-box-shadow: -5px 0px 18px -6px rgba(0, 0, 0, 0.75);
               -moz-box-shadow: -5px 0px 18px -6px rgba(0, 0, 0, 0.75);
               width: 70%;
               position: absolute;
               bottom: 15%;
               #{$right}: 0;
               padding: 20px;

               .address {
                    font-size: 32px;
                    font-weight: 400;
                    margin-bottom: 0;
               }

               .date {
                    font-size: 24px;
                    font-weight: 400;
               }

               .link {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button {
                         border: none;
                         background-color: transparent;

                         a {
                              color: $font-secondary;
                              text-decoration: none;
                         }
                    }

                    .icon-journals {
                         display: flex;
                         align-items: center;

                         span {
                              display: inline-block;
                              margin-inline-end: 10px;
                              width: 30px;
                              height: 1px;
                              background-color: rgba($color: $font-black-light, $alpha: 0.3);
                         }
                    }
               }
          }
     }

     .swiper-slide-discussions {
          box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.41);

          .discussions-content {
               background-image: url("../../../assets/img/academics/Mask\ Group\ 48-2.svg");
               background-size: contain;
               background-repeat: no-repeat;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               transition: 0.5s;
               height: $sliderHeight_xl;

               @include mq('xxl') {
                    height: $sliderHeight_xxl;
               }
          }

          &:hover {
               .discussions-content {
                    background-image: url("../../../assets/img/academics/Mask\ Group\ 48.svg");
               }

               .discussions-footer {
                    background-color: $font-primary;
               }
          }

          .discussions-icon {
               display: block;
               text-align: end;
               padding: 0 30px;
          }

          .discussions-header {
               padding: 70px 30px 0 30px;



               .num {
                    font-size: 36px;
                    font-weight: 400px;
                    margin-bottom: 0;
                    line-height: 28px;
               }

               .date {
                    margin-bottom: 20px;

                    p {
                         display: inline-block;
                    }

                    .day {
                         position: relative;
                         margin-#{$right}: 5px;

                         &::after {
                              content: '';
                              position: absolute;
                              bottom: -1px;
                              #{$left}: 0;
                              #{$right}: 0;
                              height: 1px;
                              background-color: rgba($color: $font-black-light, $alpha: 0.9);
                         }
                    }
               }

               h5 {
                    color: $font-secondary;
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 20px;
               }

               .des {
                    font-size: 17px;
                    font-weight: 400;
                    margin-bottom: 15px;
               }

          }

          .discussions-footer {
               display: flex;
               justify-content: space-between;
               align-items: center;
               background-color: $bg-section;
               padding: 10px 30px;
               transition: 0.5s;

               .alarm {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p {
                         margin-bottom: 0;
                    }

                    .from {
                         margin-#{$right}: 20px;
                    }

                    .address {
                         font-size: 14px;
                         font-weight: 400;
                    }
               }

               i {
                    background-color: white;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    @include flexCentar;
                    font-size: 20px;
               }
          }
     }

     .tabs {
          background-color: $font-primary;
          padding: 19px 5px;
          height: $sliderHeight_xl;
          display: flex;
          align-items: center;

          @include mq('lg') {
               height: $sliderHeight_xl;
          }

          @include mq('xl') {
               height: $sliderHeight_xl;
          }

          @include mq('xxl') {
               height: $sliderHeight_xxl;
               display: flex;
               align-items: center;

               ul {
                    padding: 38px 70px 38px 25px;
               }
          }

          ul {

               .item {
                    padding: 15px 45px;
                    position: relative;
                    font-size: 15px;
                    font-weight: 400;
                    transition: 0.5s;
                    color: $font-text;
                    transition: 0.4s all;
                    cursor: pointer;
                    margin-bottom: 5px;



                    @include mq('xxl') {
                         padding: 15px 71.4px;
                         font-size: 18px;
                    }

                    &.active {
                         background-color: $font-white;
                         color: $font-secondary;
                         border-radius: 5px;

                         &::after {
                              content: "\f30b";
                              font-family: "Font Awesome 6 free";
                              font-weight: 900;
                              opacity: 1;
                         }

                         .icon {
                              &::before {
                                   content: url(../../assets/img/services/web-programming2.svg)
                              }
                         }
                    }

                    .icon {
                         position: relative;
                         margin-inline-end: 25px;
                         display: inline-block;

                         &::before {
                              content: url(../../assets/img/services/web-programming.svg);
                              display: inline-block;
                              width: 10px;
                              height: 15px;
                              position: absolute;
                              #{$left}: -30px;
                              top: -18px;
                         }
                    }

                    &::after {
                         color: #ED1A3B;
                         content: "\f30b";
                         font-family: "Font Awesome 6 free";
                         font-weight: 900;
                         position: absolute;
                         top: 50%;
                         transform: translateY(-50%);
                         #{$right}: 20%;
                         z-index: 33;
                         font-weight: 700;
                         font-size: 18px;
                         opacity: 0;

                         @at-root {
                              [dir="rtl"] & {
                                   transform: translateY(-50%) rotate(180deg);
                              }
                         }
                    }

                    &:nth-child(4)::after {
                         #{$right}: 4%;
                    }

                    &:hover {
                         background-color: $font-white;
                         color: $font-secondary;
                         border-radius: 5px;
                         // font-size: 22px;

                         &::after {
                              opacity: 1;
                         }

                         .icon {
                              &::before {
                                   content: url(../../assets/img/services/web-programming2.svg)
                              }
                         }

                    }
               }

               img {
                    margin-inline-end: 20px;
                    display: inline-block;
               }

          }
     }

     .tab-mediu-content {
          display: none;
          position: relative;

          @include mq('xl') {
               padding-#{$left}: 0;
          }

          .btn-more {
               @include btnYallow;
               margin: 0 auto;
               display: block;

               @include mq('xl') {
                    margin: 0;
               }

               &:hover {
                    border-color: transparent;
               }
          }

          &.News {
               display: block;

               .swiper-slide {
                    >img {
                         @include mq('lg') {
                              height: $sliderHeight_xl;
                              width: 100%;
                              object-fit: cover;
                         }

                         @include mq('xxl') {
                              height: $sliderHeight_xxl;
                         }
                    }
               }
          }
     }

     .col-md-9 {
          position: relative;
     }

     .mySwiperMEDIU {
          .swiper-slide {
               text-align: center;
               // width: 40%;

               .desc {
                    font-size: 15px;
                    line-height: 26px;
                    font-weight: 500;
                    margin-top: 15px;

                    @include mq('lg') {
                         font-size: 20px;
                         line-height: 36px;
                         margin-top: 26px;

                    }
               }
          }
     }

     .conta-tab-3 {
          width: 100%;

          @include mq('xl') {
               display: flex;
          }

          .mySwiperMEDIU-2 {
               width: 100%;
               height: 400px;

               @include mq('lg') {
                    height: 490px;
               }

               @include mq('xl') {
                    flex: 1 1 auto;
                    height: $sliderHeight_xl;
                    margin-#{$right}: 15px;
               }

               @include mq('xxl') {
                    height: $sliderHeight_xxl;
               }

               .swiper-slide {
                    background-size: cover;
                    background-position: top center;
               }

               .card {
                    bottom: 12%;
                    padding: 20px 10px 20px 20px;
                    display: flex;
                    justify-content: center;

                    @at-root {
                         [dir="rtl"] & {
                              padding: 20px 20px 20px 10px;
                         }
                    }

                    @include mq('lg') {
                         padding: 46px 20px 30px 33px;

                         @at-root {
                              [dir="rtl"] & {
                                   padding: 46px 33px 30px 20px;
                              }
                         }
                    }

                    .desc {
                         margin-bottom: 0;
                         font-size: 20px;
                         line-height: 24px;
                         font-weight: 500;

                         @include mq('lg') {
                              font-size: 27px;
                              line-height: 32px;
                         }

                    }

                    span {
                         font-size: 16px;
                         display: block;
                         margin-bottom: 19px;
                         font-weight: 500;

                         @include mq('lg') {
                              font-size: 18px;
                         }
                    }

                    a {
                         color: $font-secondary;
                         text-decoration: none;
                         font-size: 16px;
                         font-weight: 500;
                         position: relative;

                         &::before {
                              content: "";
                              position: absolute;
                              width: 50px;
                              height: 1px;
                              background-color: rgba($color: $font-black-light, $alpha: 0.2);
                              #{$right}: -100%;
                              top: 12px;
                         }
                    }

                    .fa-arrow-right-long {
                         @at-root {
                              [dir="rtl"] & {
                                   transform: rotate(180deg);
                              }
                         }
                    }
               }


          }

          .mySwiperMEDIU.tab-3 {
               @include mq('xl') {
                    width: 300px;
               }

               .swiper-wrapper {
                    display: flex;
                    margin-top: 20px;

                    @include mq('xl') {
                         flex-direction: column;
                         margin-top: 0px;
                    }

                    .swiper-slide {
                         width: 25%;
                         height: 87.5px;
                         margin: 0 auto;
                         background-position: top center;
                         background-size: cover;
                         margin-bottom: 15px;

                         @include mq('xl') {
                              width: 100%;
                         }

                         @include mq('xxl') {
                              height: 113.5px;
                         }

                    }
               }

          }

     }

}

.btns {
     position: absolute;
     #{$right}: 0;
     top: 42%;
     z-index: 333;
     transform: translate(0, -50%);
     z-index: 2;
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 0 15px;

     @include mq('sm') {
          top: 35%;
     }


     @include mq('xl') {
          justify-content: flex-end;
          top: -72px;

     }

     .swiper-button {
          width: 45px;
          height: 45px;
          background-color: $font-white;
          z-index: 3;
          border-radius: 100%;
          @include flexCentar;
          color: $font-white;

          @at-root {
               [dir="rtl"] & {
                    transform: rotate(180deg);
               }
          }

          &.next {
               background-color: $font-secondary;
               border-radius: 50%;
               #{$right}: 10px;

          }

          &.prev {
               background-color: $font-secondary;
               border-radius: 50%;
               margin-#{$right}: 30px;
               #{$left}: 10px;
          }

          &.swiper-button-disabled {
               border: 1px solid #999;
               color: #999;
               background-color: $font-white;
               pointer-events: none;
          }
     }
}